/* card */
.blog-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blog-card {
  min-width: 300px;
  max-width: 400px;
  border-radius: 8px;
  margin: 20px;
  background-color: rgb(48, 44, 44);
}
.blog-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.blog-card .blog-card-content {
  padding: 14px;
}
.blog-card .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.blog-card .date {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.blog-card .description {
  font-size: 1rem;
  line-height: 1.5;
}
/*  card */

/* details page */
.detail-blog-container {
  max-width: 800px;
  margin: 0 auto;
  border: none;
}

.blog-content-section {
  margin: 1rem;
}
.content-item {
  padding: 20px;
  margin: 1rem 0;
  border: 1px solid #918a8a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content-item h2 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 10px;
}
.content-item p {
  font-size: 17px;
  color: #cecaca;
}

.blog-detail-title {
  font-size: 2rem;
  margin: 2rem;
  background: linear-gradient(to right, #ff69b4, #60d141);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.blog-key-detail {
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
}
.blog-key-detail h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.blog-key-detail p {
  font-size: 1.06rem;
  line-height: 1.6;
  margin: 20px 0;
}
.blog-key-detail li::before {
  content: "✓ ";
  display: inline-block;
  margin-right: 10px;
  margin-top: 12px;
}
.blog-update-delete-btn {
  padding: 12px;
}
.blog-update-delete-btn button {
  padding: 12px 10px;
  border: none;
  border-radius: 12px;
  margin: 1rem;
  background-color: #82a7ce;
}
/* details page */

/* add blog form */
.add-blog-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.add-blog-form h1 {
  text-align: center;
  margin-bottom: 20px;
}
.blog-content {
  border: 2px solid rgb(112, 109, 109);
  border-radius: 16px;
  padding: 10px;
  margin: 1rem 0;
}
.add-blog-form label {
  display: block;
  margin-bottom: 10px;
}
.add-blog-form input[type="url"],
.add-blog-form input[type="text"],
.add-blog-form textarea,
.add-blog-form select {
  width: 100%;
  padding: 10px;
  background-color: rgb(17, 16, 16);
  margin-bottom: 10px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.add-blog-form textarea {
  height: 100px;
  resize: vertical;
}
.add-blog-form button[type="button"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-blog-form button[type="button"]:hover {
  background-color: #3e8e41;
}
.add-blog-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-blog-form button[type="submit"]:hover {
  background-color: #0069d9;
}
/* add blog form */
