/* join community btn */
/* From Uiverse.io by xueyuantan */
.join-community-btn {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  background-color: black;
  color: white;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* box-shadow: 6px 6px 12px #955555, -6px -6px 12px #c3656b; */
}
.join-community-btn::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #39d269 0%, #d4ce61 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.join-community-btn:hover::before {
  width: 9em;
}
/* join community btn */

/* index page list card all community */
.community-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 63rem;
  gap: 20px;
}
/* From Uiverse.io by gharsh11032000 */
.community-card {
  width: 300px;
  height: 240px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.community-card img {
  width: 100%;
}
.community-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.community-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(28, 27, 27, 0.8);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.community-card:hover .community-card-content {
  transform: rotateX(0deg);
}
.community-card-content h2 {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}
.community-card-content p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #a59f9f;
  line-height: 1.4;
}

/* index page list card all community */

/* create community */
.community-create-form-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.community-form-group {
  margin-bottom: 20px;
}

.community-form-label {
  display: block;
  margin-bottom: 10px;
}

.community-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.community-create-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.community-create-btn:hover {
  background-color: #0056b3;
}
/* create community */

/* detail community page */
.community-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.community-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.community-header .community-name {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.community-header .community-description {
  font-size: 18px;
  margin: 1rem;
  color: #000000;
}

.community-actions {
  display: flex;
  gap: 10px;
}

/* .community-divider {
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
} */

.community-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.community-btn-primary {
  background-color: #007bff;
  color: #fff;
}

.community-btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.community-btn-success {
  background-color: #28a745;
  color: #fff;
}

.community-post-and-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
/* detail community page */

/* create community post */
.show-post-button {
  margin: 2rem;
  align-items: center;
  appearance: none;
  background-color: #eef2ff;
  border-radius: 8px;
  border-width: 2px;
  border-color: #536dfe;
  box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px,
    rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #536dfe;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 56px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 20px;
}
.show-post-button:focus {
  outline: none;
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px,
    rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.show-post-button:hover {
  box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px,
    rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.show-post-button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.create-post-form {
  max-width: 500px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 20px;
}
.form-label {
  display: block;
  margin-bottom: 10px;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-textarea {
  height: 150px;
  resize: vertical;
}
.submit-post-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* create community post */

/* community post card  */

.community-post-card {
  margin-top: 1.25em;
  margin-bottom: 1.375em;
  margin-left: 1.375em;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.community-post-card .text-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  color: #333;
}
.community-post-card .text-wrap h2,
.community-post-card .text-wrap p {
  color: whitesmoke;
  padding: 4px 0;
}

.community-post-card .time {
  font-size: 0.85em;
  color: #777;
}
.community-post-card .button-wrap {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}
.community-post-card .button-wrap > *:hover {
  text-decoration: underline;
}
.community-post-card .button-wrap .secondary-cta {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 400;
  color: #b1a8a8;
  cursor: pointer;
}

.community-post-card .button-wrap .primary-cta {
  font-size: 15px;
  background-color: transparent;
  font-weight: 600;
  color: #1677ff;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
}
/* community post card  */

/* post details page */
.post-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-transform: capitalize;
}
.post-container hr {
  margin: 1rem 0;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  align-self: center;
}

.post-content {
  font-size: 20px;
  color: #000000;
}

.post-actions {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.post-info {
  color: #afa7a7;
}

.btn-delete {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-update {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* post detail page */

/* my community page */
.my-communities-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.my-communities-title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

.community-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 70vh; */
  flex-wrap: wrap;
  padding: 2rem;
  gap: 20px;
}

.my-community-card {
  width: 220px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.my-community-card .card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  overflow: hidden;
  place-content: center;
}
.my-community-card .text-body {
  color: rgb(134, 134, 134);
}
.my-community-card .text-title {
  font-size: 1.5em;
  font-weight: bold;
}

.my-community-card .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.my-community-card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.my-community-card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/* my community page */
