.forget-password {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.forget-password .heading {
  font-size: 2rem;
  margin: 2rem;
  background: linear-gradient(to right, #f00, #0f0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.forget-password input {
  padding: 8px;
  border: none;
  width: 300px;
  background-color: #ccc;
  border-radius: 8px 0 0 8px;
}
.forget-password input:focus {
  border: none;
  outline: none;
}
.forget-password button {
  padding: 8px;
  border: none;
  background-color: #74c174;
  border-radius: 0 8px 8px 0;
}

/* user index page */
/* guide */
.user-guide {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
.user-guide .title {
  color: #ffffff;
  margin-bottom: 20px;
}
.user-guide .description {
  margin-bottom: 40px;
  color: #b7b0b0;
}
.user-guide .section-title {
  color: #008000;
  margin-top: 40px;
}
.user-guide .section-description {
  margin-bottom: 20px;
}
.user-guide .rules-list li,
.user-guide .steps-list li {
  margin-bottom: 10px;
}
.user-guide .go-back-to-profile a {
  font-size: 29px;
  color: yellow;
  font-weight: 800;
}
/* guide */
.user-login,
.user-signup {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-login form button,
.user-signup form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-login form button:hover,
.user-signup form button:hover {
  background-color: #379937;
}

.user-login form input,
.user-signup form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* user index page */

/* user profile */
#user-profile-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-profile-info {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user-profile-info img {
  height: 200px;
  width: 200px;
  margin: 1rem 0;
  overflow: hidden;
}

.logout-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 2rem;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #3e8e41;
}
/* user profile */
