.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  padding: 1rem;
  z-index: 1000;
}
.navbar-brand img {
  padding: 0 1rem;
  width: 150px;
  margin-right: 1.4rem;
  height: 40px;
}
.navbar-items {
  display: flex;
  align-items: center;
}
.navbar-nav {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #333;
  transform: translateX(-250px);
  transition: transform 0.3s ease;
}
.navbar-nav.nav-open {
  transform: translateX(0);
  padding-top: 4rem;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: color 0.2s ease;
}
.nav-link:hover {
  color: #ccc;
}
#checkbox {
  display: none;
}
.nav-toggle {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.3s;
}
.nav-bars {
  width: 100%;
  height: 4px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}
#checkbox:checked + .nav-toggle #bar2 {
  transform: translateY(14px) rotate(60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
#checkbox:checked + .nav-toggle #bar1 {
  transform: translateY(28px) rotate(-60deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
}
#checkbox:checked + .nav-toggle {
  transform: rotate(-90deg);
}
/* Responsive styles */
@media (min-width: 768px) {
  .navbar-nav {
    flex-direction: row;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
    background-color: transparent;
    transform: none;
  }
  .navbar-toggler {
    display: none;
  }
  .nav-toggle {
    display: none;
  }
  .navbar-nav li:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-toggle {
    display: flex;
  }
  .navbar-brand img {
    width: 120px;
    height: 30px;
  }
  .navbar-nav {
    background-color: rgb(66, 71, 71);
  }
  .nav-link {
    color: rgb(233, 234, 244);
    font-size: 19px;
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
}
