/* detail page */
.temple-details-container {
  max-width: 1000px;
  margin: 45px auto;
  padding: 22px;
}
.temple-description {
  font-size: 18px;
  color: #a3a8a7;
  font-weight: 500;
  margin-bottom: 20px;
}
.temple-like-dislike-btn-holder {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.temple-like-dislike-btn-holder span:hover {
  scale: 1.4;
}
.temple-info {
  font-size: 17px;
  color: #767474;
  margin: 20px 0;
}
.temple-details {
  margin: 30px 10px;
}
.temple-details p {
  font-size: 16px;
  margin: 10px 0;
}
.temple-update-delete-btn {
  padding: 20px;
}
.temple-update-delete-btn button {
  background-color: #2c8dd2;
  color: #fff;
  border: none;
  border-radius: 16px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
.temple-notes {
  margin: 20px 0;
}
.temple-notes h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.temple-notes p {
  font-size: 16px;
  color: #c3bebe;
  margin-bottom: 25px;
}
/* detail page */
